@import "./index.css";

/* Page Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font)
}
button {
  @apply cursor-pointer;
}
@media screen and (min-width: 1000px){
  h1 {
    @apply text-9xl;
  }
  h2 {
    @apply text-7xl;
  }
  h3 {
    @apply text-5xl;
  }
  h4 {
    @apply text-2xl;
  }
}
@media screen and (max-width: 999px){
  h1 {
    @apply text-8xl;
  }
  h2 {
    @apply text-6xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-xl;
  }
}
@media screen and (max-width: 600px){
  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-lg;
  }
}
/* End Page */

/* Header Styles */
header {
  @apply flex fixed m-2 p-2 rounded-md;
  width: calc(100% - 16px)
}
header.ontop {
  @apply bg-(--primary-color) text-white;
}
header.scrolled {
  @apply backdrop-blur-xs bg-transparent text-(--text-color) border border-[#7f7f7f7f];
}
header .title {
  @apply flex flex-1 justify-start items-center;
}
header .title img {
  @apply h-8 w-8;
}
header .title span {
  @apply text-lg ml-2;
  font-family: var(--primary-font);
}
header .nav a {
  @apply flex items-center;
}
header .tab {
  @apply flex flex-1 justify-end items-center;
}
@media screen and (min-width: 701px) {
  header .nav li {
    @apply float-left m-2;
  }
  header .nav a {
    @apply flex-col;
  }
  header .nav span {
    @apply text-xs;
  }
  .tab button.menu {
    @apply hidden;
  }
}
@media screen and (max-width: 700px) {
  header .nav {
    @apply absolute top-full left-2 bg-(--primary-color) rounded-b-md overflow-hidden h-0 transition-all duration-500 ease-in-out;
    width: calc(100% - 16px);
  }
  header .nav.active {
    @apply h-57.5;
  }
  header .nav a {
    @apply w-full p-2 hover:bg-(--primary-hover-color);
  }
  header .nav a span {
    @apply ml-2;
  }
  header .tab button.flex {
    @apply flex-row-reverse;
  }
  header .tab button.flex span{
    @apply text-xs mr-2;
  }
}
/* End Header */

/* Intro Section Styling */
.slider {
  @apply flex flex-col justify-center fixed w-full h-screen z-[-1] px-2;
  background: radial-gradient(var(--fg-color), var(--bg-color))
}
.slider-text {
  @apply min-w-0 mx-auto text-shadow-md;
}
.img-left, .img-right {
  @apply h-screen min-w-auto max-w-[40%] object-cover absolute z-[-1] opacity-50;
}
.img-left {
  @apply left-0 top-0 object-right;
}
.img-right {
  @apply right-0 bottom-0 object-left;
}
/* End Intro Section */

/* Double Sided Content Styling */

.doublesided-content {
  @apply h-screen flex justify-center items-center;
}
.doublesided-content > div {
  @apply flex border-b-4 border-(--primary-color) max-h-full overflow-hidden;
}
.doublesided-content > div > * {
  @apply flex-1;
}
.img-container {
  @apply flex ;
}
.img-container > img {
  @apply h-full w-full object-contain object-bottom;
}
@media screen and (min-width: 844px) {
  .doublesided-content > div {
    @apply w-3xl;
  }
}
@media screen and (max-width: 843px) {
  .doublesided-content > div {
    @apply w-9/10;
  }
}
@media screen and (min-width: 604px) {
  .doublesided-content > div.reverse {
    @apply flex-row-reverse;
  }
}
@media screen and (max-width: 603px) {
  .doublesided-content > div {
    @apply flex-col max-h-screen;
  }
}
/* End Double Sided Content */